html,
body {
  margin: 0;
}
.input-div {
  width: 100%;
  position: fixed;
  bottom: calc(55%);
  text-align: center;
}
.form-label {
  color: white;
  font-size: 18px;
}
.login-input {
  width: 200px;
  height: 20px;
}


@media screen and (max-height: 600px) {
  .input-div {
    bottom: calc(45%);
  }
}
